/auto-save-list/
/.bm-repository
/.docsets/
/.org-id-locations
/Cask
/auto/
/ede-projects.el
/var/
/url/
/tutorial/
/tramp
/textlint.st
/textlint.log
/srecode-map.el
/semanticdb/
/request/
/projectile.cache
/projectile-bookmarks.eld
/orgcard.txt
/initialization.org_archive
/initialization.el
/image-dired/
/history
/games/
/eshell/
/elpa/
/el-get/
/.authinfo.gpg
/.mc-lists.el
/bookmarks
/lib/
/lisp/
/oauth2.plstore
/project-persist/
/snippets/org-mode/esrc~
/%backup%~
/initialization.fdb_latexmk
/initialization.fls
/initialization.pdf
/initialization.tex
/helm-adaptive-history
/#init.el#
/ac-comphist.dat
/initialization.odt
/initialization.info
/initialization.texi
/eww-bookmarks
/emms/
/recentf
/recentf~
/anaconda-mode
